.mainJobInfo {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.1rem;
  width: 100%;
  min-width: 500px;
  padding: 1rem;
}
.job {
  display: flex;
  width: 60%;
}
.fileAndProgress {
  width: 70%;
  margin-right: 1rem;
}
.progressBar {
  width: 100%;
  border: 1px solid;
  margin: 0 auto;
}
.heading3 {
  font-size: var(--fs-medium-small);
  margin: 0;
}
.heading4 {
  font-size: var(--fs-medium);
  margin: 0;
}
.fileName {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  font-size: var(--fs-small);
  text-align: center;
}
.remainingInfo {
  display: flex;
  justify-content: space-between;
  min-width: 310px;
}
p {
  margin: 0;
}
.pauseIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 1rem;
  display: block;
}
.crossIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 1rem;
  display: block;
}

.btn {
  cursor: pointer;
  background-color: #00000000;
  border: none;
  margin: auto 0.25rem;
  padding: 0.5rem 0 0;
}
.btn:hover.btn > p {
  text-shadow: 0 0 2px #fff;
}
.btn > p {
  margin: auto 0.25rem;
  padding: 0.5rem 0 0;
}

.circleContainer {
  width: 70px;
  height: 70px;
  position: relative;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
}

.circleInside {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
}
.materialInfo {
  display: flex;
  width: 96%;
  /* background-color: var(--border-blue); */
  background-color: var(--highlight);
  justify-content: space-between;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
}

.presetChild {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 30%;
}
.presetItem h3 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}
.presetItem span {
  color: var(--true-gray);
}
.presetChild:nth-child(2) {
  background-color: var(--highlight-black);
  margin: 0;
  padding: 1rem 0.5rem;
  text-align: center;
  width: 30%;

  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.25);
}
.presetChild:nth-child(2) span {
  font-size: 1rem;
  color: #808080;
}
.presetChild:nth-child(2) h3 {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 1rem;
}
.presetChild:nth-child(3) {
  width: 30%;
}
.presetChild:nth-child(3) h3 {
  text-align: center;
  margin: 0;
  font-weight: 400;
  color: var(--true-gray);
}

/* vertical progress bar */

.barParent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.barParent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem;
}
.barParent2 {
  letter-spacing: 1px;
}
.barParent2 span {
  color: var(--true-gray);
}
.container {
  width: 4vw;
  height: 17vh;
  overflow: hidden;
  position: relative;
  /* margin:3rem auto; */
  margin-top: 0.55rem;
}

.barcontainer {
  /* background-color: #181818; */
  background-color: #d9d9d9;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  /* margin-left: 50px; */
  width: 3rem;
  height: 17vh;
  float: left;
  border-radius: 0.25rem;
  overflow: hidden;
  /* border darken(#98AFC7, 40%) 3px solid */
}

.barExtruder {
  background-color: rgb(0, 195, 0);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  animation: grow 1.5s ease-out forwards;
  transform-origin: bottom;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.barBed {
  background-color: #fbff3d;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  box-sizing: border-box;
  animation: grow 1.5s ease-out forwards;
  transform-origin: bottom;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
