.mainControllerContainer {
  background-color: var(--highlight);
  padding: 1rem;
  border-radius: 1rem;
  width: 50%;
  min-width: 350px;
  box-shadow: 0 0 10px black inset;
  margin: 0 1rem;

  --translateXY: -40px;
  --translateXYNe: 100px;
}
.heading2 {
  margin: 0.25rem auto 1.25rem;
}
.controls {
  display: flex;
  justify-content: space-around;
}
.controllerButtons {
  position: absolute;
  top: 50%;
  left: 50%;
}
.xy {
  position: relative;
  width: 200px;
  min-height: 240px;
}
.btnXYHome {
  position: absolute;
  background-color: #00000000;
  font-size: var(--fs-large);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  transform: translate(-14px, -11px);
  cursor: pointer;
}
.btnXY {
  background-color: #00000000;
  position: absolute;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btnXY > span {
  position: absolute;
  color: var(--silver);
  font-size: var(--fs-medium-small);
}

.z {
  width: 60px;
  margin: 0 0.25rem 0 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.z > button {
  width: 50px;
  margin: auto;
  padding: 0.25rem;
  border: none;
  background-color: var(--gray);
  box-shadow: 1px 3px 5px black;
  cursor: pointer;
  font-size: var(--fs-medium);
  font-weight: 700;
  vertical-align: baseline;
}
.z > button > span {
  font-size: var(--fs-large);
}
.extruder {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.25rem;
  position: relative;
}
.extrude,
.retract {
  border: none;
  background-color: var(--gray);
  box-shadow: 1px 3px 5px black;
  border-radius: 0.25rem;
  z-index: 2;
  margin: 0.25rem auto;
  width: 30px;
  height: 60px;
  cursor: pointer;
}
.extruderBar {
  position: absolute;
  height: 90%;
  left: 50%;
  top: 5%;
  z-index: 0;
  border: 1px solid white;
}
.btnXY:hover .svg {
  transform: scale(2);
}

.svg {
  position: absolute;
  width: 100px;
  filter: drop-shadow(0 0 10px black);
  filter: drop-shadow(0 0 1px white);
}

.btnXY:nth-child(1) {
  transform: translateY(var(--translateXY));
}
.btnXY:nth-child(2) {
  transform: translateX(40px);
}
.btnXY:nth-child(3) {
  transform: translateY(40px);
}
.btnXY:nth-child(4) {
  transform: translateX(-40px);
}
.btnXY:nth-child(5) {
  transform: translateY(var(--translateXY));
}
.btnXY:nth-child(6) {
  transform: translateX(40px);
}
.btnXY:nth-child(7) {
  transform: translateY(40px);
}
.btnXY:nth-child(8) {
  transform: translateX(-40px);
}

.btnXY:nth-child(1) > .svg {
  transform: translateY(-74px) translateX(-44px) rotate(-45deg);
}
.btnXY:nth-child(2) > .svg {
  transform: translateY(-42px) translateX(-13px) rotate(45deg);
}
.btnXY:nth-child(3) > .svg {
  transform: translateY(-10px) translateX(-44px) rotate(135deg);
}
.btnXY:nth-child(4) > .svg {
  transform: translateY(-42px) translateX(-75px) rotate(-135deg);
}

.btnXY:nth-child(5) > .svg {
  transform: translateY(-74px) translateX(-44px) rotate(-45deg);
}
.btnXY:nth-child(6) > .svg {
  transform: translateY(-42px) translateX(-13px) rotate(45deg);
}
.btnXY:nth-child(7) > .svg {
  transform: translateY(-10px) translateX(-44px) rotate(135deg);
}
.btnXY:nth-child(8) > .svg {
  transform: translateY(-42px) translateX(-75px) rotate(-135deg);
}

.btnXY:nth-child(5) > span {
  transform: translateY(-42px) translateX(-4px);
}
.btnXY:nth-child(6) > span {
  transform: translateX(38px);
}
.btnXY:nth-child(7) > span {
  transform: translateY(42px) translateX(-4px);
}
.btnXY:nth-child(8) > span {
  transform: translateX(-42px);
}
